<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>imageuploader</title>
</head>
<body>
<div class="container">
    <div class="card" style="margin:0px 50px;color:white; background:grey; height:150px; padding:10px 450px;" >
        <h2>Upload image</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{from.as_p}}
            <button type="submit" style="padding:7px 15px;border-radius:10px;text-decoration:None;border:0.5px solid black;background-color:red;color:white;text-align:center">Upload</button>
        </form>

    </div>
    <div>
        <div class="grid-container" style="margin:10px 50px;display:grid;grid-template-columns: auto auto auto">
            {% for x in image %}
            <div class="grid-item">
            <img src="{{x.image}}" alt="" style="height:200px;">
            </div>
             {% endfor %}
        </div>
    </div>
</div>

</body>
</html>